.topBar {
  height: 80px;
  border-bottom: 1px; }

.topBarInner {
  width: 100%;
  height: 80px;
  padding: 0, 18px, 0 18px; }

.navBar {
  width: 100%;
  height: 43px; }

#navBarInner {
  padding: 0, 18px, 0, 18px;
  height: 40px;
  width: 100%; }

#mainContentContainer {
  width: 100%;
  height: 4159px;
  background-color: #F5F5F1; }

.mainContentAdjustable {
  max-width: 980px;
  height: 4159px;
  margin: 0, auto, 0, auto; }

.mainContent {
  max-width: 980px;
  height: 415px;
  margin-top: 30px; }

.leftBox {
  width: 245px;
  height: 1148px; }

h5 {
  width: 245px;
  height: 27px; }

#allCategories {
  width: 245px;
  height: 408px;
  background-color: #FFFFFF; }

.categories {
  font-size: 13px;
  list-style-type: none;
  cursor: pointer;
  margin: 0;
  font-family: Arial;
  font-style: sans-serif;
  color: #0192B5;
  line-height: 1.4;
  background-color: #FFFFFF; }

.itemTypeSearchBox {
  width: 245px;
  height: 650px;
  background-color: #FFFFFF; }

#itemTypeSearchInnerBox {
  width: 219px;
  height: 624px; }

.itemType {
  width: 219px;
  height: 18px;
  margin-bottom: 6px;
  font-size: 13px;
  text-color: #555;
  font-family: Arial;
  font-style: sans-serif; }

.itemRadioBox {
  width: 219px;
  height: 72px;
  font-family: Arial;
  font-style: sans-serif;
  text-color: #555;
  font-size: 13px; }

.mainContentInnerBox {
  width: 75%;
  height: 4159px;
  padding-left: 18px;
  margin: 0;
  display: block;
  background-color: #FFFFFF; }

.mainContentBoxNavBar {
  clear: both;
  margin: 0;
  width: 717px;
  height: 27px;
  padding-bottom: 9px;
  background-color: #FFFFFF; }

.allCategories {
  float: left;
  width: 245.5px;
  height: 18px;
  background-color: #FFFFFF; }

.sortBy {
  float: right;
  background-color: #FFFFFF; }

.mainContentItems {
  width: 717px;
  height: 3902px;
  clear: both;
  display: block;
  margin: 0; }

.itemList {
  list-style-type: none; }

.eachItem {
  width: 33.33%;
  height: 227px;
  padding: 9px;
  position: relative;
  vertical-align: top;
  display: inline-block;
  text-color: #555;
  font-size: 13px;
  font-family: Arial;
  font-style: sans-serif;
  background-color: #FFFFFF; }

.insideEachItem {
  width: 225px;
  height: 225px;
  border: 1px solid #E1E3DF;
  background-color: #FFF;
  border-bottom-color: #CBCCC9;
  display: inline-block;
  position: relative;
  background-color: #FFFFFF; }

.imageContainer {
  width: 225px;
  height: 179px;
  position: relative;
  display: block;
  overflow: hidden; }

.infoUnderImage {
  width: 225px;
  height: 36px;
  margin: 6px;
  font-family: Arial;
  font-style: sans-serif;
  text-color: #555;
  display: block;
  background-color: #FFFFFF; }

.relatedToScarf {
  width: 699px;
  height: 120px;
  float: none;
  display: block;
  clear: both;
  font-family: Arial;
  font-style: sans-serif;
  cursor: pointer;
  position: relative; }

.related {
  width: 157px;
  height: 96px;
  padding-right: 18px;
  margin-top: 6px;
  display: block;
  float: left; }

.relatedUl {
  font-size: 13px;
  list-style-type: none;
  cursor: pointer;
  margin: 0;
  font-family: Arial;
  font-style: sans-serif;
  color: #0192B5;
  line-height: 1.4;
  background-color: #FFFFFF;
  padding: 0;
  width: 157px;
  height: 96px;
  display: block;
  float: left; }

.related2 {
  width: 157px;
  height: 48px;
  padding-right: 18px;
  margin: 6px;
  float: left; }

.relatedUl2 {
  font-size: 13px;
  list-style-type: none;
  cursor: pointer;
  margin: 0;
  font-family: Arial;
  font-style: sans-serif;
  color: #0192B5;
  line-height: 1.4;
  background-color: #FFFFFF;
  padding: 0;
  display: block;
  width: 157px;
  height: 48px;
  float: left; }
